<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Otter</title>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="template.css">
</head>

<body>
  <div id="grid" class="ui two column grid">
    <div class="row">
      <div class="fifteen wide column">
        <div id="table-viewport">
          <table id="table" class="ui single line fixed unstackable striped celled compact table">
            <col width="100px">
            <col width="100px">
            <col width="100px">
            <col width="300px">
            <col width="100px">
            <thead>
              <tr>
                <th>Old Lot No.</th>
                <th>Lot No.</th>
                <th>Vendor</th>
                <th>Item Description</th>
                <th>Reserve</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr style="height:500px" id="top-buffer"></tr> -->
              <tr> <td id="cursor"><div class="ui fluid input focus"><input type="text" placeholder="a"></div></td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td>f</td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td>k</td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td>f</td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td>k</td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td>f</td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td>k</td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td>f</td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td>k</td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td>f</td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td>k</td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td id="cursor3"><div class="ui fluid input focus"><input type="text" placeholder="f"></div></td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td id="cursor2"><div class="ui fluid input focus"><input type="text" placeholder="k"></div></td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td>f</td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td>k</td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td>f</td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td>k</td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td>f</td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td>k</td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <tr> <td>a</td> <td>b</td> <td>c</td> <td>d</td> <td>e</td> </tr>
              <tr> <td>f</td> <td>g</td> <td>h</td> <td>i</td> <td>j</td> </tr>
              <tr> <td>k</td> <td>l</td> <td>m</td> <td>n</td> <td>o</td> </tr>
              <tr> <td>p</td> <td>q</td> <td>r</td> <td>s</td> <td>t</td> </tr>
              <tr> <td>u</td> <td>v</td> <td>w</td> <td>x</td> <td>y</td> </tr>
              <!-- <tr style="height:500px" id="bottom-buffer"></tr> -->
              <tr class="positive"><td></td> <td></td> <td></td> <td></td> <td></td> </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="one wide column">
        <div class="ui segment horizontal-center">
          <button class="huge circular blue ui icon button">
            <i class="angle left icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<!--
document.getElementById("top-buffer").style.height = "300px"; document.getElementById("bottom-buffer").style.height = "700px";
document.getElementById("top-buffer").style.height = "500px"; document.getElementById("bottom-buffer").style.height = "500px";
document.getElementById("top-buffer").style.height = "700px"; document.getElementById("bottom-buffer").style.height = "300px";

document.getElementById("table-container").addEventListener("scroll", e => {
	console.log(e);
});
-->
