/***********************************/
/*Make table header sticky*/

.table-sticky {
  overflow: auto !important;
  height: 100vh !important;
}

.table-sticky thead th {
  position: sticky !important;
  top: 0 !important;
}

/***********************************/
/*Color styling table header*/

.header-color th {
  background-color: #0E6EB8 !important;
  color: white !important;
}

/***********************************/
/*Forces header and subsequent rows to be same height*/

/*Remove top and bottom borders from table to prevent them from influencing row height calculations*/
.row-height-fix {
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}

.row-height-fix th {
  height: 34px !important;
  border-bottom: 1px solid rgba(34,36,38,.1) !important;
  border-top-width: 0 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.row-height-fix td {
  height: 34px !important;
  border-bottom: 1px solid rgba(34,36,38,.1) !important;
  border-top-width: 0 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

/***********************************/
/*Removes grid gutters*/

.remove-gutters {
  margin: 0 !important;
}

.remove-gutters .row {
  padding: 0 !important;
}

.remove-gutters .column {
  padding: 0 !important;
}

/***********************************/

.horizontal-center {
  text-align: center !important;
}
